@page "/seeding"
@using Blazorise
@using WebUI.Pages.Articles
@using WebUI.Pages.Seedings

@attribute [Authorize]




<RadzenCard Style="margin-bottom: 20px">
    <div class="row justify-content-start align-items-center">
        <div class="col-5 d-flex align-items-center">
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 5px" Text="Добави" Click="@(() => AddArableLand())" />
        </div>
        <div class="col-7 d-flex align-items-center justify-content-end">
            <div class="d-none d-md-inline-flex align-items-center">
                <RadzenLabel Text="Избери сезон:" />
                <RadzenDropDown Data=@WorkingSeasons
                                TValue="int"
                                TextProperty="Name"
                                ValueProperty="Value"
                                @bind-Value="@SelectedWorkingSeasonService.SelectedWorkingSeasonId"
                                Change=@(args => OnDropDownChange(args)) Class="w-100" />
            </div>
        </div>
    </div>
</RadzenCard>


@if (SownArableLands != null)
{
    <RadzenTabs Change=@OnTabChange TabPosition="@Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            @foreach (var sownArableLand in SownArableLands)
            {
                <RadzenTabsItem Text="@sownArableLand.ArableLandName">
                    <Accordion>
                        <Collapse Visible="@(CollapseSeedingSummary)">
                            <CollapseHeader>
                                <Heading Size="HeadingSize.Is5">
                                    <Button Clicked="@(async ()=> await OnSeedingSummaryCollapse(sownArableLand.SeedingId))">
                                        Сеидба
                                    </Button>
                                </Heading>
                            </CollapseHeader>
                            <CollapseBody>
                                <SeedingSummary SeedingSummaryData="@SeedingSummaryData"
                                        SeedingId="@sownArableLand.SeedingId"
                                        ArableLandName="@sownArableLand.ArableLandName"
                                        IsModal="false">
                                </SeedingSummary>
                            </CollapseBody>
                        </Collapse>
                    </Accordion>
                    <Accordion>
                        <Collapse Visible="@CollapsePerformedWork">
                            <CollapseHeader>
                                <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=> this.CollapsePerformedWork = !this.CollapsePerformedWork)">
                                        Обработки
                                    </Button>
                                </Heading>
                            </CollapseHeader>
                            <CollapseBody>
                                <ListPerformedWork
                                           SeedingId="@sownArableLand.SeedingId"
                                           ArableLandName="@sownArableLand.ArableLandName"
                                           OnChangeData="@LoadSeedingSummary">
                                </ListPerformedWork>
                            </CollapseBody>
                        </Collapse>
                    </Accordion>
                    <Accordion>
                        <Collapse Visible="@CollapseTreatment">
                            <CollapseHeader>
                                <Heading Size="HeadingSize.Is5">
                                    <Button Clicked="@(()=>this.CollapseTreatment = !this.CollapseTreatment)">
                                        Третиране
                                    </Button>
                                </Heading>
                            </CollapseHeader>
                            <CollapseBody>
                                <ListTreatment 
                                       SeedingId="@sownArableLand.SeedingId"
                                       ArableLandName="@sownArableLand.ArableLandName"
                                       OnChangeData="@LoadSeedingSummary">
                                </ListTreatment>
                            </CollapseBody>
                        </Collapse>
                    </Accordion>
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
}

