@using WebUI.ServicesModel.Seeding

<RadzenTemplateForm TItem="GetSeedingSummaryModel" Data=@GetSeedingModel Submit=@OnSubmit>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <RadzenLabel Text="Артикул" />
                <div>
                    @if (IsModal)
                    {
                        <RadzenDropDown 
                            Data=@AllArticleOfTypeSeeds 
                            @bind-Value=@GetSeedingModel.ArticleId
                            ValueProperty="Value" 
                            TextProperty="Name" 
                            Change=@(args => OnDropDownChange(args)) Class="w-100" />
                    }
                    else
                    {
                        <RadzenTextBox Disabled="true" Value="@GetSeedingModel.ArticleName" style="width: 100%;" Name="ArticleName" />
                    }

                </div>
            </div>
            <div class="col-md-12">
                <RadzenLabel Text="Засято семе декар" />
                <div>
                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" style="display: block" Name="SeedsQuantityPerDecare" @bind-Value=@GetSeedingModel.SeedsQuantityPerDecare Class="w-100" />
                </div>
            </div>
            <div class="col-md-12">
                <RadzenLabel Text="Цена на семе за декар" />
                <div>
                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="SeedsPricePerKilogram" @bind-Value=@GetSeedingModel.SeedsPricePerKilogram Class="w-100" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <RadzenLabel Text="Изкарано количество на декар" />
                <div>
                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="HarvestedQuantityPerDecare" @bind-Value=@GetSeedingModel.HarvestedQuantityPerDecare Class="w-100" />
                </div>
            </div>
            <div class="col-md-12">
                <RadzenLabel Text="Продажна цена зърно на килограм" />
                <div>
                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" style="display: block" Name="HarvestedGrainSellingPricePerKilogram" @bind-Value=@GetSeedingModel.HarvestedGrainSellingPricePerKilogram Class="w-100" />
                </div>
            </div>
            <div class="col-md-12">

                <div>
                    <RadzenLabel Text="Приходи от субсидии" />
                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="SubsidiesIncome" @bind-Value=@GetSeedingModel.SubsidiesIncome Class="w-100" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div  class="col-md-12">
                <RadzenLabel Text="Общо приходи от зърно" />
                <div>
                    <RadzenTextBox Disabled="true" Value="@GetSeedingModel.IncomeFromHarvestedGrains.ToString()" style="width: 100%;" Name="IncomeFromHarvestedGrains" />
                </div>
            </div>
            <div class="col-md-12">
                <RadzenLabel Text="Разходи" />
                <div>
                    <RadzenTextBox Disabled="true" Value="@GetSeedingModel.Expenses.ToString()" style="width: 100%;" Name="Expenses" />
                </div>
            </div>
            <div class="col-md-12">
                <RadzenLabel Text="Печалба" />
                <div>
                    <RadzenTextBox Disabled="true" Value="@GetSeedingModel.Profit.ToString()" style="width: 100%;" Name="Profit" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 float-end">
            @if (IsModal)
            {
                <RadzenButton ButtonType="ButtonType.Submit" Text="Запис"></RadzenButton>
            }
            else
            {
                <RadzenButton Click="@OnEdit" Text="Редактирай"></RadzenButton>
            }
        </div>
        
    </div>

</RadzenTemplateForm>