@page "/seeding"
@using Blazorise
@using WebUI.Pages.Articles
@using WebUI.Pages.Seedings


<RadzenCard Style="display: flex; align-items: center; margin-bottom: 20px">
    <div class="row px-3">
        <div class="col-6">
            <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => AddArableLand())" />
        </div>
        <div class="col-6 float-right">
            <RadzenDropDown Data=@WorkingSeasons
                            TValue="int"
                            TextProperty="Name"
                            ValueProperty="Value"
                            @bind-Value="@SelectedWorkingSeasonService.SelectedWorkingSeasonId"
                            Change=@(args => OnDropDownChange(args)) Class="w-100" />
        </div>
    </div>


</RadzenCard>


<RadzenTabs Change=@OnChange TabPosition="@Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
    <Tabs>
        @foreach (var sownArableLand in SownArableLands)
        {
            <RadzenTabsItem Text="@sownArableLand.ArableLandName">
                <Accordion>
                    <Collapse Visible="@(CollapseSeedingSummary)">
                        <CollapseHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>CollapseSeedingSummary = !CollapseSeedingSummary)">Сеидба</Button>
                            </Heading>
                        </CollapseHeader>
                        <CollapseBody>
                            <SeedingSummary SeedingId="@sownArableLand.SeedingId" IsModal="false"></SeedingSummary>
                        </CollapseBody>
                    </Collapse>
                </Accordion>
                <Accordion>
                    <Collapse Visible="@CollapsePerformedWork">
                        <CollapseHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>CollapsePerformedWork = !CollapsePerformedWork)">Обработки</Button>
                            </Heading>
                        </CollapseHeader>
                        <CollapseBody>
                            <ListPerformedWorkDialog SeedingId="@sownArableLand.SeedingId"></ListPerformedWorkDialog>
                        </CollapseBody>
                    </Collapse>
                </Accordion>
                <Accordion>
                    <Collapse Visible="@CollapsePerformedWork">
                        <CollapseHeader>
                            <Heading Size="HeadingSize.Is5">
                                <Button Clicked="@(()=>CollapsePerformedWork = !CollapsePerformedWork)">Третиране</Button>
                            </Heading>
                        </CollapseHeader>
                        <CollapseBody>
                            <ListTreatmentDialog SeedingId="@sownArableLand.SeedingId"></ListTreatmentDialog>
                        </CollapseBody>
                    </Collapse>
                </Accordion>
            </RadzenTabsItem>
        }

    </Tabs>
</RadzenTabs>
