@using Fluxor.Blazor.Web.Components
@using WebUI.Components.Validators
@using WebUI.ServicesModel.Seeding
@attribute [Authorize]

@inherits FluxorComponent

@if (SeedingSummaryData is not null)
{
    <RadzenTemplateForm TItem="GetSeedingSummaryModel" Data=@SeedingSummaryData Submit=@OnSubmit>
        <div class="row">
            <div class="col-md-12">
                <RadzenFieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <RadzenLabel Text="Артикул" />
                                <div>
                                    @if (IsModal)
                                    {
                                        <RadzenDropDown Data=@AllArticleOfTypeSeeds
                                                @bind-Value=@SeedingSummaryData.ArticleId
                                                ValueProperty="Value"
                                                TextProperty="Name"
                                                Change=@(args => OnDropDownChange(args)) Class="w-100" />
                                    }
                                    else
                                    {
                                        <RadzenTextBox Disabled="true" Value="@SeedingSummaryData.ArticleName" style="width: 100%;" Name="ArticleName" />
                                    }

                                </div>
                            </div>
                            <div class="col-md-12">
                                <RadzenLabel Text="Засяти килограми семе на(дка)" />
                                <div>
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" style="display: block" Name="SeedsQuantityPerDecare" @bind-Value=@SeedingSummaryData.SeedsQuantityPerDecare Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="SeedsQuantityPerDecare" Text="Засяти килограми семе трябва да е положително число" Min="0" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <RadzenLabel Text="Цена на семе за(кг)" />
                                <div>
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="SeedsPricePerKilogram" @bind-Value=@SeedingSummaryData.SeedsPricePerKilogram Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="SeedsPricePerKilogram" Text="Цена на семе трябва да е положително число" Min="0" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <RadzenLabel Text="Разход за жътва(лв)" />
                                <div>
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="ExpensesForHarvesting" @bind-Value=@SeedingSummaryData.ExpensesForHarvesting Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="ExpensesForHarvesting" Text="Разход за жътва трябва да е положително число" Min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <RadzenLabel Text="Изкарано количество на(дка) в(кг)" />
                                <div>
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="HarvestedQuantityPerDecare" @bind-Value=@SeedingSummaryData.HarvestedQuantityPerDecare Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="HarvestedQuantityPerDecare" Text="Изкарано количество трябва да е положително число" Min="0" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <RadzenLabel Text="Продажна цена зърно на(кг) в (лв)" />
                                <div>
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" style="display: block" Name="HarvestedGrainSellingPricePerKilogram" @bind-Value=@SeedingSummaryData.HarvestedGrainSellingPricePerKilogram Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="HarvestedGrainSellingPricePerKilogram" Text="Продажна цена зърно трябва да е положително число" Min="0" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <RadzenLabel Text="Общо приходи от зърно(лв)" />
                                <div>
                                    <RadzenTextBox Disabled="true" Value="@SeedingSummaryData.IncomeFromHarvestedGrains.ToString()" style="width: 100%;" Name="IncomeFromHarvestedGrains" />
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div>
                                    <RadzenLabel Text="Приходи от субсидии(лв)" />
                                    <RadzenNumeric Disabled="@(!IsModal)" ShowUpDown="@(IsModal)" Name="SubsidiesIncome" @bind-Value=@SeedingSummaryData.SubsidiesIncome Class="w-100" />
                                    <NumericRangeValidator CanBeZero=true Component="SubsidiesIncome" Text="Приходи от субсидии трябва да е положително число" Min="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
  
        </div>
        <div class="row">
            <div class="col-md-5" style="margin-top: 16px;">
                @if (IsModal)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Запис"></RadzenButton>
                    <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
                }
                else
                {
                    <RadzenButton Click="@OnEdit" Text="Редактирай"></RadzenButton>
                }
            </div>
        </div>
    </RadzenTemplateForm>
}
