@model AddSeedingViewModel



<div class="row">
   <div class="col-md-12">
      <div class="card card-default">
         <div class="card-header">
            <h3 class="card-title">Добавяне на сеидба</h3>
            <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse">
               <i class="fas fa-minus"></i>
               </button>
            </div>
         </div>
         <form method = "post">
            <div class="card-body">
               <div class="form-group">
                  <label asp-for="ArableLandId"></label>
                  <select asp-for="ArableLandId" class="form-control">
                     <option value="">All</option>
                     @foreach (var arableLand in Model!.ArableLands)
                     {
                        <option value="@arableLand.Id">@arableLand.Name</option>
                     }
                  </select>
                  <span asp-validation-for="ArableLandId" class="small text-danger"></span>
                  <label asp-for="ArticleId"></label>
                  <select asp-for="ArticleId" class="form-control">
                     <option value="">All</option>
                     @foreach (var article in Model.Articles)
                     {
                        <option value="@article.Id">@article.Name</option>
                     }
                  </select>
                  <span asp-validation-for="ArticleId" class="small text-danger"></span>
                  <label asp-for="WorkingSeasonId"></label>
                  <select asp-for="WorkingSeasonId" class="form-control">
                     <option value="">All</option>
                     @foreach (var workingSeaoson in Model.WorkingSeaosons)
                     {
                        <option value="@workingSeaoson.Id">@workingSeaoson.Name</option>
                     }
                  </select>
                  <span asp-validation-for="WorkingSeasonId" class="small text-danger"></span>
               </div>
            </div>
            <div class="card-footer">
               <button type="submit" class="btn btn-primary">Запис</button>
                <button type="reset" class="btn btn-outline-secondary">Назад</button>
            </div>
         </form>
      </div>
   </div>
</div>
