@model SeedingSearchViewModel


<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h2 class="text-center"> Всички сеитби </h2>
                
            </div>
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Ид</th>
                                    <th scope="col">Земя</th>
                                    <th scope="col">Артикул</th>
                                    <th scope="col">Декари</th>
                                    <th scope="col">Сезон</th>
                                    <th scope="col">Начало на сезон</th>
                                    <th scope="col">Край на сезон</th>
                                </tr>
                            </thead>
                            @foreach (var seeding in Model.Seedings)
                            {
                                <tbody>
                                    <tr>
                                        <th scope="row">@seeding.Id</th>
                                        <td>@seeding.AreableLandName</td>
                                        <td>@seeding.ArticleName</td>
                                        <td>@seeding.SizeInDecar</td>
                                        <td>@seeding.SeasonName</td>
                                        <td>@seeding.StartDate</td>
                                        <td>@seeding.EndDate</td>
                                         <td><a asp-controller="Seedings" asp-action="Edit" 
                                             asp-route-seedingId="@seeding.Id" 
                                             asp-route-currentArableLandId="@seeding.ArableLandId" 
                                             asp-route-articleId="@seeding.ArticleId"
                                             asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-warning">Редактирай</a></td>

                                         <td><a asp-controller="Seedings" asp-action="Delete" asp-route-seedingId="@seeding.Id"  asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-warning">Изтрий</a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-controller="Seedings" asp-action="Add" asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-primary">Добавяне на сеитба</a>


