@model SeedingSearchViewModel


<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Сеидба</h3>
                <a asp-controller="Seedings" asp-action="Add" asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-primary">Add</a>
            </div>
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Arable Land</th>
                                    <th scope="col">Article</th>
                                    <th scope="col">Size In Decar</th>
                                    <th scope="col">Season</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                </tr>
                            </thead>
                            @foreach (var seeding in Model.Seedings)
                            {
                                <tbody>
                                    <tr>
                                        <th scope="row">@seeding.Id</th>
                                        <td>@seeding.AreableLandName</td>
                                        <td>@seeding.ArticleName</td>
                                        <td>@seeding.SizeInDecar</td>
                                        <td>@seeding.SeasonName</td>
                                        <td>@seeding.StartDate</td>
                                        <td>@seeding.EndDate</td>
                                         <td><a asp-controller="Seedings" asp-action="Edit" 
                                             asp-route-seedingId="@seeding.Id" 
                                             asp-route-currentArableLandId="@seeding.ArableLandId" 
                                             asp-route-articleId="@seeding.ArticleId"
                                             asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-warning">Edit</a></td>

                                         <td><a asp-controller="Seedings" asp-action="Delete" asp-route-seedingId="@seeding.Id"  asp-route-seasonId="@Model.WorkingSeasonId" class="btn btn-warning">Delete</a></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


