@model List<GetWorkingSeasonViewModel>

@{
    ViewData["Title"] = "Всички сезони";
}

<h2 class="text-center">Всички сезони</h2>
<div>
     <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Ид</th>
              <th scope="col">Име</th>
              <th scope="col">Начало на сезона</th>
              <th scope="col">Край на сезона</th>
            </tr>
          </thead>
            @foreach(var workingSeason in Model!)
            {
                  <tbody>
                        <tr>
                          <th scope="row">@workingSeason.Id</th>
                          <td>@workingSeason.Name</td>
                          <td>@workingSeason.StartDate</td>
                          <td>@workingSeason.EndDate</td>
                          <td><a asp-controller="WorkingSeasons" asp-action="Edit" asp-route-id="@workingSeason.Id" class="btn btn-warning">Редактирай</a></td>
                          <td><a asp-controller="WorkingSeasons" asp-action="Delete" asp-route-id="@workingSeason.Id" class="btn btn-danger" 
                                        onclick="return confirm('Сигурни ли сте, че искате да изтриете сезон с име : @workingSeason.Name')">Изтрий</a></td>
                        </tr>
              </tbody>
            }
    </table>
<a asp-controller="WorkingSeasons" asp-action="Add" class="btn btn-primary">Добави нов сезон</a>
</div>
