@page "/workingSeason"
@attribute [Authorize]


<div class="container-fluid">
    <div class="row py-5">
        <div class="col">
            <RadzenCard>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" 
                Icon="add_circle_outline"
                style="margin-bottom: 10px; margin-left:10px"
                Text="Добави" 
                Click="@(() => AddWorkingSeason())" />

                <RadzenDataList WrapItems="true" Data="@WorkingSeasonBalance" TItem="ListWorkingSeasonBalanceModel" PagerHorizontalAlign="HorizontalAlign.Left">
                    <Template Context="WorkingSeasonBalance">
                        <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
                            <div class="container-fluid">
                                <div class="row" style="margin-left: calc(var(--bs-gutter-x) * -1); margin-right: calc(var(--bs-gutter-x) * -1)">
                                    <div class="col-md-2 p-3 product-title">
                                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-color-secondary">@(WorkingSeasonBalance.Name)</RadzenText>
                                    </div>
                                    <div class="col-md-2 p-3">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="mb-0">Начало</RadzenText>
                                                    <RadzenText TextStyle="TextStyle.Body2" class="mb-sm-2 mb-lg-0">
                                                        @(WorkingSeasonBalance.StartDate.ToString("dd/MM/yyyy"))
                                                    </RadzenText>
                                            </div>
                                            <div class="col-md-6">
                                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="mb-0">Край</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body2" class="mb-sm-2 mb-lg-0">
                                                    @(WorkingSeasonBalance.EndDate.ToString("dd/MM/yyyy"))
                                                </RadzenText>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 p-3" id="balance">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="mb-0">Приход</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body2" class="mb-sm-2 mb-lg-0">
                                                    @(WorkingSeasonBalance.Income)
                                                </RadzenText>
                                            </div>
                                            <div class="col-md-4">
                                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="mb-0">Разход</RadzenText>
                                                <RadzenText TextStyle="TextStyle.Body2" class="mb-sm-2 mb-lg-0">
                                                    @(WorkingSeasonBalance.Expenses)
                                                </RadzenText>
                                            </div>
                                            <div class="col-md-4">
                                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="mb-0">Печалба</RadzenText>
                                                    <RadzenText TextStyle="TextStyle.Body2" class="mb-sm-2 mb-lg-0">
                                                    @(WorkingSeasonBalance.Profit)
                                                    </RadzenText>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="col-md-3 p-3">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="edit" Class="mb-0"
                                                              Click="async() =>  await EditWorkingSeason(WorkingSeasonBalance.Id)" />
                                            </div>
                                            <div class="col-md-2">
                                                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="delete" Class="mb-0"
                                                              Click="async() =>await DeleteWorkingSeason(WorkingSeasonBalance.Id)" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenButton Icon="agriculture" Text="Към жътва" Class="w-100" Click="() => ToSeeding(WorkingSeasonBalance.Id)" />
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>
            </RadzenCard>
        </div>
    </div>
</div>

<style>
    .product-title {
        min-height: 72px;
        background-color: var(--rz-secondary-lighter);
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
    #balance{
        background-color: var(--rz-secondary-lighter);
    }
</style>