@using Web.ViewModels.Components
@model List<SidebarMenuViewModel>


<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->

        @foreach (var menuItem in Model!)
        {
            <li class="nav-item @menuItem.MenuOpen">
                <a class="nav-link">
                    <i class="nav-icon fas fa-tractor"></i>
                    <p>
                        @menuItem.Title 
                    <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                        @foreach(var childItem in menuItem.Childs)
                        {
                            <li class="nav-item">
                                <a asp-area="@childItem.Area" asp-controller="@childItem.ControllerName" asp-action="@childItem.ActionName" asp-route-seasonId="@childItem.Raute" class="nav-link @childItem.Active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@childItem.Title</p>
                                </a>
                            </li>
                        }
                </ul>
            </li>
        }

            
@*        <li class="nav-item">
        <a asp-controller="Seedings" asp-action="List" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
            Сеидба
            <span class="badge badge-info right">2</span>
            </p>
        </a>

        </li>

            @foreach (var data in Model!)
            {
                <li class="nav-item">
                    <a asp-controller="Seedings" asp-action="List" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                        @data.Value
                        <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
            }
            <li class="nav-item menu-open">
                <a class="nav-link active">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                    Номенклатури
                    <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                    <a asp-controller="WorkingSeasons" asp-action="All"  class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Сезони</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a asp-controller="ArableLands" asp-action="All" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Земи</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a asp-controller="Articles" asp-action="All" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Артикули</p>
                    </a>
                    </li>
                </ul>
        </li>*@
    </ul>
    </nav>
</div>