@using Web.ViewModels.Components
@model List<SidebarMenuViewModel>


<div class="sidebar">
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            @foreach (var menuItem in Model!)
            {
                <li class="nav-item @menuItem.MenuOpen">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-tractor"></i>
                        <p>
                            @menuItem.Title
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @foreach (var childItem in menuItem.Childs)
                        {
                            <li class="nav-item">
                                <a asp-area="@childItem.Area" asp-controller="@childItem.ControllerName" asp-action="@childItem.ActionName" asp-route-seasonId="@childItem.Raute" class="nav-link @childItem.Active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@childItem.Title</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </nav>
</div>