@model List<GetArableLandViewModel>

@{
    ViewData["Title"] = "Всички земи";
}

 <h2 class="text-center"> Всички земи </h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Ид</th>
            <th scope="col">Име</th>
            <th scope="col">Декари</th>
        </tr>
    </thead>
    @foreach (var arableland in Model!)
    {
        <tbody>
            <tr>
                <th scope="row">@arableland.Id</th>
                <td>@arableland.Name</td>
                <td>@arableland.SizeInDecar</td>
                <td><a asp-controller="ArableLands" asp-action="Edit" asp-route-id="@arableland.Id" class="btn btn-warning">Редактирай</a></td>
                <td><a asp-controller="ArableLands" asp-action="Delete" asp-route-id="@arableland.Id" class="btn btn-danger" 
                    onclick="return confirm('Сигурни ли сте че, искате да изтриете земя с име : @arableland.Name')">Изтрий</a></td>
            </tr>
        </tbody>
    }
</table>
<a asp-controller="ArableLands" asp-action="Add" class="btn btn-primary">Добавяне на земя</a>


