@using Application.Extensions
@model List<GetArticleViewModel>

@{
    ViewData["Title"] = "Всички артикули";
}

<h2 class="text-center"> Всички артикули </h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Име</th>
            <th scope="col">Тип артикул</th>
        </tr>
    </thead>
    @foreach (var article in Model!)
    {
        <tbody>
            <tr>

                <th scope="row">@article.Id</th>
                <td>@article.Name</td>
                <td>@article.ArticleType.DescriptionAttribute()</td>
                <td><a asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="btn btn-warning">Редактирай</a></td>
                <td><a asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger"
                   onclick="return confirm('Сигурни ли сте че, искате да изтриете артикул с име : @article.Name')">Изтрий</a></td>
            </tr>
        </tbody>
    }
</table>
<a asp-controller="Articles" asp-action="Add" class="btn btn-primary">Добави артикул</a>

